.form {
    padding: 0 10px 0 10px;
    span {
        font-size: 14px;
        border: 1px solid black;
        margin-right: 10px;
        padding: 5px 10px 5px 10px;
    }
    div {
        margin: 10px 0 15px 0;
    }
    button {
        padding: 5px 10px 5px 10px;
        border: 1px solid black;
        font-size: 18px;
    }
}
.target{
background-color: gray;
}